/*CSS Reset*/
* {
	margin top: o;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;

}

body {
	font-family: 'Open Sans', sans-serif;
}


/*Succeed Info Section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;

}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;

}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*Succeed Info Section End*/






/*Pre-Footer*/
#pre-footer {
	padding-left: 1%;
	padding-right: 5%;
	padding-top: .2rem;
	padding-bottom: .1%;
	background-color: #002540;
	color: white;
	font-size: 1.2rem;
	border-bottom: 1px;


	


}

#pre-footer h3 {
	margin-bottom: .3rem;
	padding-top: 5rem;
}
	
#pre-footer .foot {
	text-align: left;
	margin-bottom: 1rem;
	display: inline-block;
	vertical-align: top;
	min-height: 120px;
	width: 20%;
	margin-right: 0.5rem;
}

#pre-footer #foot1 {
	padding-top: 11rem; ;
}

/*Pre-Footer End*/




/*Footer*/
footer {
	margin top: 20rem;
	text-align: left;
	padding-top: 1rem;



}

footer span {
	margin-left: 1rem;
	margin-right: 1rem;
	

}

/*Footer End*/










